# Backend API URL
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:3000

# App URL for SEO and Social Sharing
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Allowed Image Hostname for Next/Image
NEXT_PUBLIC_REMOTE_IMAGE_HOSTNAME=m.media-amazon.com
