.git
.gitignore
.husky
.vscode
node_modules
client/node_modules
api/node_modules
client/.next
api/dist
api/coverage
npm-debug.log
yarn-error.log
yarn-debug.log
.env
.env.*
*.md
docker-compose.yml
config/
