node_modules/
.pnp.*
.agents/
skills-lock.json

api/.git-backup/
client/.git-backup/

.codex
.next

.env
.fttemplates

dist
*.code-workspace
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo

config/dev/volumes/api/*
config/dev/volumes/client/*
config/dev/volumes/grafana/*
config/dev/data/*

!config/dev/volumes/api/.gitkeep
!config/dev/volumes/client/.gitkeep
!config/dev/volumes/grafana/.gitkeep
!config/dev/volumes/grafana/provisioning/
!config/dev/volumes/grafana/provisioning/**