node_modules/
.pnp.*

api/.git-backup/
client/.git-backup/

.codex
.next

.env
.fttemplates

dist
*.code-workspace
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo

config/dev/volumes/api/*
config/dev/volumes/client/*
config/dev/data/*

!config/dev/volumes/api/.gitkeep
!config/dev/volumes/client/.gitkeep