.titleInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.posterContainer {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: #1f2123;
}

.titleInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
