$sidebar-width: 20%;

.sidebarSpacer {
  min-width: $sidebar-width;
  width: $sidebar-width;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.sidebar {
  position: fixed;
  left: 10px;
  top: 10px;
  width: calc(#{$sidebar-width} - 20px);
  height: calc(100vh - 20px);

  background: #1f2123;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 100;

  .sidebarTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 40px 10px;
    padding-left: 0;
    color: white;
  }

  .sidebarItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
