.progressBar {
  height: 20px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
}

.label {
  padding: 5px;
  color: white;
  font-weight: bold;
}

.filler {
  height: 100%;
  border-radius: inherit;
  text-align: right;
  transition: width 0.5s ease-in-out;
  background-color: #ca563f;
}
