.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;
  width: 100%;
  color: #8392a6;
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: #1e293b;
  }

  .text {
    font-weight: 700;
    font-size: 20px;
    transition: all ease-in-out 0.3s;
    user-select: none;
    text-decoration: none;
  }

  &.active {
    background-color: #dc2626;
    color: white;
  }
}
