.screenButton {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.1s;

  &:hover {
    transform: scale(1.1);
  }

  &:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 3px;
    border-radius: 4px;
  }
}
