.adminLayout {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  background-color: #020617;
}

.adminContent {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
}

.adminMain {
  flex: 1;
  min-width: 0;
}
