NODE_ENV=development

# File Database Configuration
AWS_ACCESS_KEY_ID="admin"
AWS_SECRET_ACCESS_KEY="admin1234"
AWS_REGION="eu-central-1"
AWS_BUCKET_NAME="library"
AWS_ENDPOINT="http://localhost:9000"

#Database configuration
DATABASE_URL="postgresql://root:root@localhost:5431/watchly?schema=public"